@media all and (max-width: 767px) {
  .converter {
    min-height: 0;
  }
  .converter .input-group-addon {
    min-width: 70px;
  }
  .navbar {
    padding: 20px 15px;
    padding-bottom: 0;
  }
  .navbar .navbar-logo {
    padding: 0;
  }
  .navbar .navbar-logo .logo {
    max-height: 120px;
    margin: 0 auto !important;
  }
  .navbar .nav {
    margin: 10px 0;
  }
  .navbar .nav > li {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
    padding: 0 10px;
    text-align: center;
  }
  .footer {
    padding: 10px 0;
  }
}
